@tailwind base;
@tailwind components;
@tailwind utilities;

span {
  content: "\2709";
}

.container{
  padding-top: 3px;
  padding-bottom: 15px;
  display:flex;
  justify-content: space-between;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

img{
  margin-left: auto;
  margin-right: auto;
}

.aboutHeader{
  background-color: rgb(244, 245, 248);
  border-bottom: solid lightgray 1px;
  border-top: solid lightgray 1px;
}

.homeBottom{
  border-top: solid lightgray 1px;
  padding-top: 5px;
  padding-bottom: 5px;
  display: grid;
  grid-template-columns: 2.5fr 1fr;
  background-color: rgb(244, 245, 248);
}




